body {
	font-family: "Literata", serif;
}

.full-height {
	min-height: 100vh;
}

.eight-height {
	min-height: 85vh;
}

.half-height {
	min-height: 50vh;
}

.full-width {
	min-width: 100vw;
}

#background-carousel {
	position: absolute;
	z-index: 10;
}

.carousel,
.carousel-inner {
	width: 100%;
	height: 100%;
	z-index: 11;
	overflow: hidden;
}
.carousel-item {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 0;
}
.carousel-item:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.8)
	);
}
.carousel-caption {
	top: 40%;
}
.carousel-caption h1 {
	font-size: 3em;
}
.carousel-caption .title {
	transform: translateY(-50%);
}

@media (min-width: 480px) {
	.carousel-caption h1 {
		font-size: 4em;
	}
}
@media (min-width: 768px) {
	.carousel-caption h1 {
		font-size: 5em;
	}
}

#down {
	position: absolute;
	bottom: 5%;
	left: 50%;
	/* transform: translate(-50%); */
	cursor: pointer;
}
.down {
	position: absolute;
	bottom: 5%;
	left: 50%;
	/* transform: translate(-50%); */
	cursor: pointer;
}
.down span {
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}
.down span:nth-child(2) {
	animation-delay: -0.2s;
}
.down span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

nav {
	transition: 0.3s ease-in-out;
}
.nav-link {
	color: grey;
	font-size: 1.2em;
}
.nav-link:hover,
.nav-link:focus {
	color: white !important;
}
.nav-scroll {
	background-color: black;
}

.personal-links {
	display: flex;
}

.title-underline {
	width: 100px;
	height: 2px;
	margin: 8px auto;
	background-color: #fff;
}

#skills,
#about {
	background-color: #1e3670;
}

#projects {
	background-color: #416788;
	/* background-color: white; */
}

#contact {
	background-color: #545f6b;
}

.about-message {
	margin: 0 10%;
	color: white;
}

.about-icons {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50%;
}
.icon,
.icon-overlay {
	height: 300px;
	width: 300px;
}
.icon-overlay {
	position: absolute;
	border-radius: 50%;
	background-color: black;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.3s ease;
}
.icon-overlay:hover {
	opacity: 0.8;
}
.icon-overlay-text {
	color: white;
	opacity: 1;
}
@media screen and (min-width: 1800px) {
	.icon,
	.icon-overlay {
		height: 400px;
		width: 400px;
	}
}

.resume-btn {
	margin: 30px auto;
	padding: 15px;
	border: 1px solid grey;
	font-size: 1rem;
	color: grey;
	background-color: transparent;
}
.resume-btn:hover {
	color: white;
	border-color: white;
}
