body {
	font-family: "Alata", Geneva, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5;
}
@media screen and (min-width: 2000px) {
	body {
		font-size: 1.5rem;
	}
	.container {
		max-width: 1500px;
	}
}

.full-height {
	min-height: 100vh;
}

.half-height {
	min-height: 50vh;
}

a {
	font-family: "Alata", Ebrima, sans-serif !important;
}

a:hover {
	text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
}

/* 
************************************************************************************
COMPONENT STYLES
************************************************************************************
*/
section {
	min-height: 100vh;
}

.button {
	display: inline-block;
	background-color: transparent;
	padding: 0.5rem 1rem;
	min-width: 10rem;
	border: 3px solid black;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	transition: all 0.4s;
}
.button:hover {
	transform: scale(1.1);
}

.button-primary {
	color: #21425b;
	border-color: #21425b;
}
.button-primary:hover {
	color: white;
	background-color: #21425b;
}

.button-light {
	color: white;
	border-color: white;
}
.button-light:hover {
	color: #9cadff;
	background-color: #fff;
}

.button-disabled {
	color: rgba(0, 0, 0, 0.26);
	border-color: rgba(0, 0, 0, 0.26);
	cursor: default;
}
.button-disabled:hover {
	color: rgba(0, 0, 0, 0.26);
	background-color: transparent;
	transform: none;
}

.button-container-horizontal {
	margin-top: 2rem;
}
.button-container-vertical {
	display: flex;
	flex-direction: column;
	/* max-width: 10rem; */
}

.section-title {
	padding-top: 3.25rem;
	padding-bottom: 1.75rem;
	font-size: 2.8rem;
}

.sub-title {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.card {
	border-radius: 0.5rem;
	height: 100%;
}
.skill-card {
	height: auto;
}

.title-caption {
	margin-bottom: 0;
}

/* 
************************************************************************************
NAVIGATION BAR
************************************************************************************
*/
nav {
	transition: 0.3s ease-in-out;
}
.nav-link {
	color: #b9b6b6;
	font-size: 1rem;
}
.nav-link:hover,
.nav-link:focus {
	color: white !important;
}
.nav-scroll {
	background-color: black;
}
@media screen and (min-width: 896px) {
	.nav-link {
		font-size: 1.2em;
	}
}

.personal-links {
	display: flex;
}
.personal-links > a {
	padding: 0.5rem 0.5rem;
}

/* 
************************************************************************************
HERO SECTION
************************************************************************************
*/
#home {
	background-color: #21425b;
}
.gradient-theme {
	background: linear-gradient(45deg, #4d3dcc, #9cadff, #76e5fc, #3cdcfc);
	background-size: 400%;
	animation: gradient-shift 10s ease-in-out infinite alternate;

	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.6;
}
@keyframes gradient-shift {
	from {
		background-position: left;
	}
	to {
		background-position: right;
	}
}
.hero-img {
	background: url(../img/hero-bg.jpg) no-repeat;
	background-attachment: fixed;
	background-position: right;
	padding: 0 0;
}
.hero {
	margin-left: 2vw;
	align-self: center;
}
.hero-caption {
	color: white;
	text-align: left;
}
.hero-caption #name {
	font-size: 4.375rem;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 2vh;
}
.hero-caption h3 {
	font-size: 1.25rem;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 5vh;
	margin-left: 5px;
}
.hero-icons {
	display: flex;
	margin-left: 5px;
}
.icon-link {
	color: white;
	margin-right: 1rem;
}
.icon-link:hover,
.icon-link:focus {
	color: grey !important;
}
.hero-buttons {
	margin-top: 5vh;
	margin-left: 5px;
}
.call-to-action {
	color: black;
	background-color: #fff;
	display: block;
	padding: 10px;
	margin-top: 2vh;
	border-radius: 30.5px;
	width: 40%;

	font-family: Ebrima;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;

	text-align: center;
	text-decoration: none;
	transition: 0.3s;
}
.call-to-action:hover {
	background-color: #9cadff;
	color: white;
}

@media screen and (min-width: 410px) {
	.hero-caption #name {
		font-size: 5.625rem;
		font-style: normal;
		font-weight: normal;
		margin-bottom: 2vh;
	}
	.hero-caption h3 {
		font-size: 1.875rem;
		font-style: normal;
		font-weight: normal;
		margin-bottom: 5vh;
		margin-left: 5px;
	}
	.call-to-action {
		font-size: 1.25rem;
		width: 50%;
	}
}
@media screen and (min-width: 2000px) {
	.hero-caption #name {
		font-size: 8rem;
	}
	.hero-caption h3 {
		font-size: 3.5rem;
	}
	.call-to-action {
		font-size: 2rem;
	}
}

/* 
************************************************************************************
PROJECTS SECTION
************************************************************************************
*/
.project-entry {
	padding: 3rem 0;
	margin: 3rem 0;
}
.project-img-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.embed-responsive-item {
	width: 98% !important;
	height: auto !important;
}

/* 
************************************************************************************
ABOUT SECTION
************************************************************************************
*/

#about {
	/* background-color: #343a40; */
	background-color: #21425b;
	color: white;
}
.about-message {
	line-height: 1.6;
	font-weight: 200;
}

/* 
************************************************************************************
MISSION SECTION
************************************************************************************
*/
.mission-icon {
	font-size: 4rem;
}
#mission {
	/* background-color: rgba(209, 208, 208, 0.781); */
}

/* 
************************************************************************************
SKILLS SECTION
************************************************************************************
*/
#skills {
	background-color: #21425b;
	min-height: 0;
}

/* 
************************************************************************************
EXPERIENCE SECTION
************************************************************************************
*/
.exp-entry {
	margin-bottom: 3rem;
	padding: 0 2rem;
}

.card-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25vh;
	padding: 2rem 0;
	border-top-left-radius: calc(0.5rem - 1px);
	border-top-right-radius: calc(0.5rem - 1px);
	border-bottom: rgb(177, 175, 175) solid 1px;
}
.card-img-top {
	width: auto;
	height: 80%;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
}

.card-title {
	text-transform: capitalize;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.8rem;
}

.card-text {
	font-size: 0.875em;
}

#rise {
	background-color: #464646;
}
#juni {
	background-color: #00a5ff;
}

#rotary {
	display: none;
}
@media screen and (min-width: 475px) {
	.card-title {
		font-size: 1.75rem;
	}
	.card-text {
		font-size: 1rem;
	}
	#rotary {
		display: block;
	}
}

/* 
************************************************************************************
GET IN TOUCH SECTION
************************************************************************************
*/
#contact {
	background-color: #21425b;
	min-height: 20vh;
}
.contact-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact-buttons > a {
	border: none;
	max-width: 400px;
	width: 80vw;
	font-size: 0.8rem;
	margin-bottom: 1rem;
	margin-right: 0;
	border-radius: 5px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.contact-buttons > a:hover {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.gradient-button {
	background-size: 200%;
	transition: 0.6s;
}
.gradient-button:hover {
	color: white;
	background-position: right;
}
.resume-button {
	color: white;
	background-image: linear-gradient(45deg, #76e5fc, #9cadff, #76e5fc);
	/* border-image: linear-gradient(45deg, #76e5fc, #9cadff);
	border-image-slice: 1; */
}
.linkedin-button {
	background-color: #0077b5;
	color: white;
}
.linkedin-button:hover {
	background-color: white;
}
.email-button {
	background-color: #d93025;
	color: white;
}
.email-button:hover {
	background-color: white;
	color: #d93025;
}

.copyright {
	color: white;
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 320px) {
	.contact-buttons > a {
		font-size: 1rem;
	}
}

@media screen and (min-width: 425px) {
	.contact-buttons > a {
		min-width: max-content;
		width: 340px;
	}
}

@media screen and (min-width: 768px) {
	.contact-buttons > a {
		font-size: 1.2rem;
	}
}
